#page .container{
	width: 80%;
}
div.abc{
	margin-top: 1.5rem;
}
nav.top-bar {
text-align:center;
background-color: #0772b4;
}
section.top-bar-section {
display: inline-block;
background-color: #0772b4;
}
section.top-bar-section a {
display: inline-block;
background-color: #0772b4;
}